<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          {% include svg-icon.html icon="about" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" rel="noreferrer noopener" target="_blank" title="Twitter">
          {% include svg-icon.html icon="twitter" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social.facebook }}" rel="noreferrer noopener" target="_blank" title="Facebook">
          {% include svg-icon.html icon="facebook" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.medium %}
      <li>
        <a href="https://medium.com/{{ site.social.medium }}" rel="noreferrer noopener" target="_blank" title="Medium">
          {% include svg-icon.html icon="medium" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank" title="GitHub">
          {% include svg-icon.html icon="github" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.gitlab %}
      <li>
        <a href="https://gitlab.com/{{ site.social.gitlab }}" rel="noreferrer noopener" target="_blank" title="GitLab">
          {% include svg-icon.html icon="gitlab" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.bitbucket %}
      <li>
        <a href="https://bitbucket.org/{{ site.social.bitbucket }}" rel="noreferrer noopener" target="_blank" title="Bitbucket">
          {% include svg-icon.html icon="bitbucket" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.stackoverflow %}
      <li>
        <a href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}" rel="noreferrer noopener" target="_blank" title="Stack Overflow">
          {% include svg-icon.html icon="stackoverflow" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.keybase %}
      <li>
        <a href="https://keybase.io/{{ site.social.keybase }}" rel="noreferrer noopener" target="_blank" title="Keybase">
          {% include svg-icon.html icon="keybase" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.docker %}
      <li>
        <a href="https://hub.docker.com/r/{{ site.social.docker }}" rel="noreferrer noopener" target="_blank" title="Docker Hub">
          {% include svg-icon.html icon="docker" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noreferrer noopener" target="_blank" title="LinkedIn">
          {% include svg-icon.html icon="linkedin" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.dribbble %}
      <li>
        <a href="https://dribbble.com/{{ site.social.dribbble }}" rel="noreferrer noopener" target="_blank" title="Dribbble">
          {% include svg-icon.html icon="dribbble" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.flickr %}
      <li>
        <a href="https://www.flickr.com/photos/{{ site.social.flickr }}" rel="noreferrer noopener" target="_blank" title="Flickr">
          {% include svg-icon.html icon="flickr" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.instagram %}
      <li>
        <a href="https://instagram.com/{{ site.social.instagram }}" rel="noreferrer noopener" target="_blank" title="Instagram">
          {% include svg-icon.html icon="instagram" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.tumblr %}
      <li>
        <a href="https://{{ site.social.tumblr }}.tumblr.com" rel="noreferrer noopener" target="_blank" title="Tumblr">
          {% include svg-icon.html icon="tumblr" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.spotify %}
      <li>
        <a href="https://play.spotify.com/user/{{ site.social.spotify }}" rel="noreferrer noopener" target="_blank" title="Spotify">
          {% include svg-icon.html icon="spotify" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.youtube %}
      <li>
        <a href="https://www.youtube.com/user/{{ site.social.youtube }}" rel="noreferrer noopener" target="_blank" title="Youtube">
          {% include svg-icon.html icon="youtube" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.twitch %}
      <li>
        <a href="https://www.twitch.tv/{{ site.social.twitch }}" rel="noreferrer noopener" target="_blank" title="Twitch">
          {% include svg-icon.html icon="twitch" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.steam %}
      <li>
        <a href="https://steamcommunity.com/id/{{ site.social.steam }}" rel="noreferrer noopener" target="_blank" title="Steam">
          {% include svg-icon.html icon="steam" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.discord %}
      <li>
        <a href="https://discord.gg/{{ site.social.discord }}" rel="noreferrer noopener" target="_blank" title="Discord Server">
          {% include svg-icon.html icon="discord" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.bitcoin %}
      <li>
        <a href="https://blockexplorer.com/address/{{ site.social.bitcoin }}" rel="noreferrer noopener" target="_blank" title="Bitcoin">
          {% include svg-icon.html icon="bitcoin" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.ethereum %}
      <li>
        <a href="https://etherscan.io/address/{{ site.social.ethereum }}" rel="noreferrer noopener" target="_blank" title="Ethereum">
          {% include svg-icon.html icon="ethereum" %}
        </a>
      </li>
    {% endif %}
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}" title="Email">
          {% include svg-icon.html icon="email" %}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
